p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.tahoma-font{
    font-family: tahoma;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: left;
    }
    