p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.arial-font{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    }
    
    .arial-font-2{
    font-family: Arial;
    color: rgb(195, 0, 0);
    font-style: italic;
    margin-bottom: 30px;
    text-align: left;
    }
    